<h1>Checkout</h1>

<div class="empty" *ngIf="empty">
  Cart is empty.
</div>

<div *ngIf="!empty">
  <ul *ngFor='let robot of cart'>
      <li>
        <p>
          {{ robot.key }}
        </p>
        <form (submit)="updateCart(robot.key, $event)">
          <input type="text" name="in" id="{{ robot.key.split(' ').join('') }}" value="{{ robot.val }}">
          <button type="submit" value="Submit" color="primary">Update</button>
        </form>
        <button (click)="removeFromCart(robot.key)">Remove From Cart</button>
      </li>
  </ul>
</div>

<ul *ngIf="stockError">
  {{ robstockerror }}
</ul>
<p>
  Total price: ${{ price }}
</p>
<button (click)="checkout()">Checkout</button>
