<h1 class="uk-heading-line uk-text-center uk-heading-primary"><span><strong>Giant Robot Shop</strong></span></h1>
<!-- <ul class="uk-list uk-list-divider"> -->
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div class="uk-width-1-3@m animated fadeIn" *ngFor='let robot of robots$'>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <a routerLink="/robotDetails/{{ robot.name }}">
            <img src="{{ robot.photo }}" alt="robot.name">
          </a>
        </div>
        <div class="uk-card-body">
            <p class="uk-text-lead">{{ robot.name }}</p>
            <p>${{ robot.price }}</p>
            <p>Stock: {{ robot.stock }}</p>
            <button class="uk-button-default" (click)="addToCart(robot.name)">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
