<div id="container">
  <div id="details-container">
      <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div id="details-img">
          <img class="pure-img" src="{{ robot$['photo'] }}" alt="{{robot$['name']}}-img">
        </div>
        <div id="details">
          <p>
            {{ robot$['name'] }}
          </p>
          <p>
            Stock: {{robot$['stock']}}
          </p>
          <p>
            Powers:
            <span *ngFor = "let power of robot$['powers']">
              {{ power }},
            </span>
          </p>
          <p>
            ${{ robot$['price'] }}
          </p>
          <p>
            height: {{ robot$['height'] }} ft.
          </p>
          <form class="pure-form pure-form-stacked" (submit)="updateCart(robot$['name'], $event)">
            <fieldset>
              <input id="amnt-input" type="text" id="amount" value='1'><br>
              <button class="pure-button pure-button-primary" type="submit" value="Submit">Add to cart</button>
            </fieldset>
          </form>
        </div>
      </div>
  </div>
</div>
<!--comment-->