<div id="container">
  <div id="details-container">
      <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div id="details-img">
          <img class="pure-img" src="{{ robot$['photo'] }}" alt="{{robot$['name']}}-img">
        </div>
        <div id="details">
          <h2 id ="name">
            {{ robot$['name'] }}
          </h2>
          <p>
            <strong>Height: </strong>{{ robot$['height'] }} ft.
          </p>
          <div id = "powers">
              <strong>Powers:</strong>
              <span *ngFor = "let power of robot$['powers']" class = "power">
                <br>-  {{ power }}
              </span>
          </div>
          <p id ="stock">
            <strong>Stock: </strong>{{robot$['stock']}}
          </p>
          <p id = "price">
            <strong>Price: </strong>${{ robot$['price'] }}
          <p>
            ${{ robot$['price'] }}
          </p>
          <p>
            height: {{ robot$['height'] }} ft.
          </p>
          <form class="pure-form pure-form-stacked" (submit)="updateCart(robot$['name'], $event)">
            <fieldset>
              <input id="amnt-input" type="text" id="amount" value='1'><br>
              <button class="pure-button pure-button-primary" type="submit" value="Submit">Add to cart</button>
            </fieldset>
          </form>
        </div>
      </div>
  </div>
</div>
<!--comment-->
