<div id="container">
  <div id="details-container">
    <div id="details-img">
      <img class="pure-img" src="{{ robot$['photo'] }}" alt="{{robot$['name']}}-img">
    </div>
    <div id="details">
      <p>
        {{ robot$['name'] }}
      </p>
      <p>Price: ${{ robot$['price'] }}</p>
      <p>
        Height: {{ robot$['height'] }}
      </p>
      <p>
        Stock: {{ robot$['price'] }}
      </p>
        <p>
          Powers: 
      <span *ngFor = "let item of robot$['powers']">
        {{item}}, 
      </span>
      </p>
      <form class="pure-form pure-form-stacked" (submit)="updateCart(robot$['name'], $event)">
        <fieldset>
          <input type="text" id="amount" value='1'><br>
          <button class="pure-button pure-button-primary" type="submit" value="Submit">Add to cart</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
